<div class="altura style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))>
  
</div>
<div class="date1"> </div>
<div class="bigaltura"> </div>
<div class="sponsors"> </div>
<div class="footer"> </div>
