<div class="altura" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= @event.banner %>);">
</div>
<div class="date1">
<h2><%= l(@event.fecha , format: '%A, %d de %B de %Y') %></h2>
<h3> <%= "En #{@event.direccion.capitalize} de #{@event.horarioinicio.strftime("%H:%M")} a #{@event.horariofinal.strftime("%H:%M")} "%> </h3>
</div>
<div class="bigaltura"> </div>
<div class="sponsors"> </div>
<div class="footer"> </div>
